name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Generate icon
        run: python icons.py

      - name: Build executable
        run: |
          pyinstaller --onefile --windowed --name "KeyboardHeatMap" --icon "assets/icon.ico" --add-data "assets;assets" main.pyw

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: dist/KeyboardHeatMap.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
